<!DOCTYPE html>
<html lang="en-CA" xmlns="http //www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Pathoschild.WebApi.NHibernate-Odata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/vs.min.css" media="all" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
    <style>
        code {
            white-space: pre;
        }
    </style>
</head>
<body>
    <div class="markdown-body container">
        @RenderBody()
    </div>
    <script>
    	(function () {
    		[].forEach.call(document.querySelectorAll("pre code"), function (x) { hljs.highlightBlock(x); });
    	})();
    </script>
</body>
</html>